<p>I'm Alistair <span class="wave">👋</span></p>
<p>I'm an analytics professional working primarily with the Google Stack (GA, GA360, Data Studio, Apps Script,
    BigQuery). I also have experience working with JavaScript, Node, Python and GCP. I run a <a href="/blog">blog</a> and enjoy
    sharing open source <a href="/tools">tools</a> I have built.</p>
<h2>Contact</h2>
<p><a href="mailto:alistair@alsjohnstone.com">alistair@alsjohnstone.com</a><br><a
        href="https://www.linkedin.com/in/alistair-johnstone">LinkedIn</a></p>
<p>I live in Leeds, UK.</p>
